@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
text-align: center;
color: pink;
font-family: "Pacifico", cursive;
}
body{
    background-color: black;
}
p{
    color: pink;
    font-size: 20px;
}
h2{
    text-align: left;
    color: pink;
    font-family: "Pacifico", cursive;
}
h3{
    text-align: left;
    color: pink;
    font-family: "Pacifico", cursive;
}
h4{
    text-align: left;
    color: pink;
    font-family: "Pacifico", cursive;
}
p{
    text-align: left;
}
.container{
    width: 600px;
   
}
ul{
    color: pink;
    font-size: 20px;
}