@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
text-align: center;
color: pink;
font-family: "Pacifico", cursive;

}
body{
    background-color: black;
}
p{
    color: pink;
}
h2{
    text-align: left;
    color: pink;
}
h3{
    text-align: left;
    color: pink;
}
h4{
    text-align: left;
    color: pink;
}
p{
    text-align: left;
}
.container{
    width: 600px;
   
}